.container{
    background-color: #CCC;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.item{
    background-color: blue;
    border-radius: 10px;
    padding: 20px;
    color: #FFF;
    font-size: 20px;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 4;
}

.item5{
    grid-row-start: 3;
    grid-row-end: 5;
}

.item9{
    grid-row-start: 4;
    grid-row-end: 6;
}
