[submodule "Html-css"]
	path = Html-css
	url = https://github.com/Gustaa13/Html-css.git
[submodule "Javascript"]
	path = Javascript
	url = https://github.com/Gustaa13/Javascript.git
[submodule "Tailwindcss"]
	path = Tailwindcss
	url = https://github.com/Gustaa13/Tailwindcss.git
[submodule "Typescript"]
	path = Typescript
	url = https://github.com/Gustaa13/Typescript.git
[submodule "React"]
	path = React
	url = https://github.com/Gustaa13/React.git
[submodule "SpringBoot"]
	path = SpringBoot
	url = https://github.com/Gustaa13/SpringBoot.git
