[submodule "Html-css"]
	path = Html-css
	url = git@github.com:Gustaa13/Html-css.git
[submodule "Javascript"]
	path = Javascript
	url = git@github.com:Gustaa13/Javascript.git
[submodule "Tailwindcss"]
	path = Tailwindcss
	url = git@github.com:Gustaa13/Tailwindcss.git
