@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: rgb(172, 210, 223);
}

header {
    background-color: #1C95E6;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

span#menu {
    background-color: #104de7;
    color: white;
    display: block;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

span#menu:hover {
    background-color: white;
    color: #1C95E6;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 7px;
    text-decoration: none;
    text-align: center;
    background-color: rgba(35, 35, 202, 0.411);
    color: white;
    border-top: 2px solid #1C95E6;
}

menu > ul > li > a:hover {
    background-color: #104de7;
}

main {
    width: 85vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}