@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(pacote-d013/imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background: url(pacote-d013/imagens/frame-iphone.png) no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

section#redes-sociais {
    position: absolute;
    right: 15px;
}

section#redes-sociais img {
    display: flex;
    width: 50px;
    height: 50px;
    margin: 30px 0px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
    flex-direction: column;
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.685);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px black;
    transition: transform 0.4s, border 0.1s;
}